ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li#brand {
    float: left;
    font-style: normal;
}


li {
    float: right;
    font-family: Lobster;
    font-weight: bold;
    font-style: italic;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: white;
    text-decoration: none;
}


nav {
    background: inherit;
}


img {
    max-height: 100%;
    max-width: 100%;
    transition: src 1s ease-in-out;
    margin-bottom: 100px;
}

div img {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

div img:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);

    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform 0.5s ease;
}


div img#pic_1.start, div img#pic_3.start {
    position: relative;
    -webkit-animation: left_move_img 2s;
    animation: left_move_img 2s;
}

div img#pic_2.start, div img#pic_4.start {
    position: relative;
    -webkit-animation: right_move_img 2s;
    animation: right_move_img 2s;
}


.text_bg_1, .text_bg_2, .text_bg_3, .text_bg_4 {
    height: 626.656px;
    display : flex;
    align-items : center;
    text-align: center;
}

.text_bg_1.start, .text_bg_3.start {
    -webkit-animation: right_move 2s;
    animation: right_move 2s;
}

.text_bg_2.start, .text_bg_4.start {
    -webkit-animation: left_move 2s;
    animation: left_move 2s;
}

.text_bg_1 {
    background-color: rgb(189, 170, 240);
}

.text_bg_2 {
    background-color: rgb(240, 189, 170);
}

.text_bg_3 {
    background-color: rgb(221, 240, 170);
}

.text_bg_4 {
    background-color: #AADDF0;
}

.first_row {
    margin-left: -300px !important;
}

.second_row {
    margin-right: -300px !important;
}


h1, h4 {
    font-family: Lobster;
    font-style: italic;
    margin: 20px;
    opacity: 0;
}

h1.start {
    -webkit-animation: appear 1s 1s linear forwards;
    animation: appear 1s 1s linear forwards;
}

h4.start {
    -webkit-animation: appear 1s 1.5s linear forwards;
    animation: appear 1s 1.5s linear forwards;
}


hr {
    border-color: white;
}


@keyframes right_move {
    from {left: -600px; opacity: 0}
    to {left: 0px; opacity: 1}
}

@keyframes left_move {
    from {right: -600px; opacity: 0}
    to {right: 0px; opacity: 1}
}

@keyframes right_move_img {
    from {left: -1500px; opacity: 0}
    to {left: 0px; opacity: 1}
}

@keyframes left_move_img {
    from {right: -1500px; opacity: 0}
    to {right: 0px; opacity: 1}
}

@keyframes appear {
    from {opacity: 0; transform:scale(0.2)}
    to {opacity: 1; transform:scale(1)}
}

