ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li#brand {
    float: left;
    font-style: normal;
}


li {
    float: right;
    font-family: Lobster;
    font-weight: bold;
    font-style: italic;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: white;
    text-decoration: none;
    transform: scale(1.1)
}


nav {
    background: inherit;
}


img {
    max-height: 100%;
    max-width: 100%;
    transition: src 1s ease-in-out;
    margin-bottom: 100px;
}

#images {
    text-align: center;
    margin-bottom: 50px;
}

#main_image {
    transform: scale(1.14);
}

div div img {
    filter: brightness(95%);
}


.text_1 {
    background-color: rgb(189, 170, 240);
    margin-top: -20px;
    margin-bottom: 50px;
}

.text_2 {
    background-color: rgb(240, 189, 170);
    margin-top: -20px;
    margin-bottom: 100px;
}

.text_3 {
    background-color: rgb(221, 240, 170);
    margin-top: -20px;
    margin-bottom: 100px;
}


h1, h4 {
    font-family: Lobster;
    font-style: italic;
    margin: 20px;
    opacity: 0;
}

h1.start {
    -webkit-animation: appear 1s 1s linear forwards;
    animation: appear 1s 1s linear forwards;
}

h4.start {
    -webkit-animation: appear 1s 1.5s linear forwards;
    animation: appear 1s 1.5s linear forwards;
}


hr {
    border-color: white;
}


@keyframes right_move {
    from {left: -600px; opacity: 0}
    to {left: 0px; opacity: 1}
}

@keyframes left_move {
    from {right: -600px; opacity: 0}
    to {right: 0px; opacity: 1}
}

@keyframes right_move_img {
    from {left: -1500px; opacity: 0}
    to {left: 0px; opacity: 1}
}

@keyframes left_move_img {
    from {right: -1500px; opacity: 0}
    to {right: 0px; opacity: 1}
}

@keyframes appear {
    from {opacity: 0; transform:scale(0.2)}
    to {opacity: 1; transform:scale(1)}
}

